body {
    background-color: #EDEEF0;
    color: #7D8487;
    font-family: Skyler, "Horatio Bold", Helvetica;
}
h1 {
    font-size: 24px;
}
.command {
    clear: both;
    float: left;
}
.fa-circle {
    color: #EDEEF0;
    z-index: 0;
}
.class-ended {
    color: #DD4948;
}
.class-started {
    color: #1CC1AE;
}
.fa-circle-thin {
    color: white;
    z-index: 1;
}

/* COLUMNS */
.column-left {
    float: left;
    text-align: center;
    vertical-align: middle;
    width: 30%;
}
.column-center {
    display: inline-block;
    width: 20%;
}
.column-right {
    float: right;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

#schedule {
    width: 400px;
}

/* Z-INDEX */
.fa { z-index:20; }
.jsplumb-connector { z-index:4; }
.jsplumb-endpoint { z-index:5; }
.jsplumb-overlay { z-index:6; }
